* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: white;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  max-width: 980px;
  margin: 0 auto;
}

@font-face {
  font-family: myFirstFont;
  src: url(../fonts/proxima_nova_extra_condensed_thin-webfont.woff);
}
@font-face {
  font-family: mySecondFont;
  src: url(../fonts/proxima-nova-thin-webfont.woff);
}
@font-face {
  font-family: myThirdFont;
  src: url(../fonts/proximanovascosfextracondensed-webfont.woff);
}
nav {
  max-width: 980px;
  margin: 0 auto;
  min-height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid;
  border-bottom-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: normal;
}
nav .logo {
  width: 92px;
  height: 38px;
}
nav .links a {
  text-decoration: none;
  margin-left: 10px;
  color: #000000;
}
nav .links span {
  color: #79addc;
  margin-left: 10px;
}

footer {
  height: 100px;
  background-color: #79addc;
}
footer .footer-content {
  color: #ffffff;
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-content p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.about {
  margin-top: 110px;
  margin-bottom: 180px;
}
.about .about-header h1 {
  margin-bottom: 2px;
  font-family: mySecondFont, myThirdFont;
  font-size: 60px;
  font-style: bold;
}
.about .about-header p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.about .about-header .border-bottom {
  width: 171px;
  height: 2px;
  background-color: #000;
  margin-bottom: 3%;
}
.about .about-client-quotes {
  margin-top: 107px;
}
.about .about-client-quotes .client-quote-title {
  font-family: mySecondFont, myThirdFont;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 2px;
}
.about .about-client-quotes .border-bottom-two {
  width: 255px;
  height: 2px;
  background-color: #000;
  margin-bottom: 3%;
}
.about .about-client-quotes .client-box {
  max-width: 722px;
  display: flex;
  position: relative;
  margin-bottom: 30px;
}
.about .about-client-quotes .client-box .client-image {
  width: 260px;
  height: 150px;
  overflow: hidden;
  margin-right: 21px;
}
.about .about-client-quotes .client-box .client-image img {
  width: 100%;
}
.about .about-client-quotes .client-box .client-quote {
  max-width: 440px;
  margin-bottom: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-style: italic;
}
.about .about-client-quotes .client-box .client-name {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #79addc;
  font-family: mySecondFont;
  font-weight: bold;
  font-size: 20px;
}

@media all and (max-width: 800px) {
  .about {
    text-align: center;
    flex-direction: column;
  }
  .about .about-header .border-bottom {
    margin: 0 auto;
    margin-bottom: 3%;
  }
  .about .about-client-quotes .border-bottom-two {
    margin: 0 auto;
    margin-bottom: 3%;
  }
  .about .about-client-quotes .client-box {
    flex-direction: column;
  }
  .about .about-client-quotes .client-box .client-image {
    margin: 0 auto;
  }
  .about .about-client-quotes .client-box .client-quote {
    margin: 0 auto;
  }
  .about .about-client-quotes .client-box .client-name {
    position: relative;
  }
}
.about-promo {
  max-width: 980px;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;
}
.about-promo .promo {
  height: 304px;
  width: 235px;
  background-color: #faebd7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/tour-israel/israel-tour-01.jpg);
}
.about-promo .promo .promo-text {
  font-size: 24px;
  font-family: mySecondFont;
  margin-bottom: 60px;
}
.about-promo .promo .read-btn {
  background-color: #79addc;
  padding: 10px 15px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-promo #promo2 {
  background-image: url(/images/tour-israel/israel-tour-02.jpg);
}
.about-promo #promo3 {
  background-image: url(/images/tour-israel/israel-tour-03.jpg);
}

.about-promo2 {
  max-width: 980px;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;
}
.about-promo2 .promo {
  height: 304px;
  width: 235px;
  background-color: #faebd7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/tour-usa/usa-tour-01.jpg);
}
.about-promo2 .promo .promo-text {
  font-size: 24px;
  font-family: mySecondFont;
  margin-bottom: 60px;
}
.about-promo2 .promo .read-btn {
  background-color: #79addc;
  padding: 10px 15px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-promo2 #promo2 {
  background-image: url(/images/tour-usa/usa-tour-02.jpg);
}
.about-promo2 #promo3 {
  background-image: url(/images/tour-usa/usa-tour-03.jpg);
}

.about-promo3 {
  max-width: 980px;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;
}
.about-promo3 .promo {
  height: 304px;
  width: 235px;
  background-color: #faebd7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/tour-aus/aus-tour-01.jpg);
}
.about-promo3 .promo .promo-text {
  font-size: 24px;
  font-family: mySecondFont;
  margin-bottom: 60px;
}
.about-promo3 .promo .read-btn {
  background-color: #79addc;
  padding: 10px 15px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-promo3 #promo2 {
  background-image: url(/images/tour-aus/aus-tour-02.jpg);
}
.about-promo3 #promo3 {
  background-image: url(/images/tour-aus/aus-tour-03.jpg);
}

.about-promo4 {
  max-width: 980px;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;
}
.about-promo4 .promo {
  height: 304px;
  width: 235px;
  background-color: #faebd7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/tour-nz/nz-tour-01.jpg);
}
.about-promo4 .promo .promo-text {
  font-size: 24px;
  font-family: mySecondFont;
  margin-bottom: 60px;
}
.about-promo4 .promo .read-btn {
  background-color: #79addc;
  padding: 10px 15px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-promo4 #promo2 {
  background-image: url(/images/tour-nz/nz-tour-02.jpg);
}
.about-promo4 #promo3 {
  background-image: url(/images/tour-nz/nz-tour-03.jpg);
}

.about-promo5 {
  max-width: 980px;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;
}
.about-promo5 .promo {
  height: 304px;
  width: 235px;
  background-color: #faebd7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/tour-france/france-tour-01.jpg);
}
.about-promo5 .promo .promo-text {
  font-size: 24px;
  font-family: mySecondFont;
  margin-bottom: 60px;
}
.about-promo5 .promo .read-btn {
  background-color: #79addc;
  padding: 10px 15px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-promo5 #promo2 {
  background-image: url(/images/tour-france/france-tour-02.jpg);
}
.about-promo5 #promo3 {
  background-image: url(/images/tour-france/france-tour-03.jpg);
}

.about-promo6 {
  max-width: 980px;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;
}
.about-promo6 .promo {
  height: 304px;
  width: 235px;
  background-color: #faebd7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/tour-egypt/egypt-tour-01.jpg);
}
.about-promo6 .promo .promo-text {
  font-size: 24px;
  font-family: mySecondFont;
  margin-bottom: 60px;
}
.about-promo6 .promo .read-btn {
  background-color: #79addc;
  padding: 10px 15px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-promo6 #promo2 {
  background-image: url(/images/tour-egypt/egypt-tour-02.jpg);
}
.about-promo6 #promo3 {
  background-image: url(/images/tour-egypt/egypt-tour-03.jpg);
}

.about-promo7 {
  max-width: 980px;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;
}
.about-promo7 .promo {
  height: 304px;
  width: 235px;
  background-color: #faebd7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/tour-japan/japan-tour-01.jpg);
}
.about-promo7 .promo .promo-text {
  font-size: 24px;
  font-family: mySecondFont;
  margin-bottom: 60px;
}
.about-promo7 .promo .read-btn {
  background-color: #79addc;
  padding: 10px 15px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-promo7 #promo2 {
  background-image: url(/images/tour-japan/japan-tour-02.jpg);
}
.about-promo7 #promo3 {
  background-image: url(/images/tour-japan/japan-tour-03.jpg);
}

.about-promo8 {
  max-width: 980px;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;
}
.about-promo8 .promo {
  height: 304px;
  width: 235px;
  background-color: #faebd7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/tour-canada/canada-tour-01.jpg);
}
.about-promo8 .promo .promo-text {
  font-size: 24px;
  font-family: mySecondFont;
  margin-bottom: 60px;
}
.about-promo8 .promo .read-btn {
  background-color: #79addc;
  padding: 10px 15px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-promo8 #promo2 {
  background-image: url(/images/tour-canada/canada-tour-02.jpg);
}
.about-promo8 #promo3 {
  background-image: url(/images/tour-canada/canada-tour-03.jpg);
}

.about-promo9 {
  max-width: 980px;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;
}
.about-promo9 .promo {
  height: 304px;
  width: 235px;
  background-color: #faebd7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/tour-uae/uae-tour-01.jpg);
}
.about-promo9 .promo .promo-text {
  font-size: 24px;
  font-family: mySecondFont;
  margin-bottom: 60px;
}
.about-promo9 .promo .read-btn {
  background-color: #79addc;
  padding: 10px 15px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-promo9 #promo2 {
  background-image: url(/images/tour-uae/uae-tour-02.jpg);
}
.about-promo9 #promo3 {
  background-image: url(/images/tour-uae/uae-tour-03.jpg);
}

.about-hero {
  max-width: 980px;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: mySecondFont;
  font-weight: bold;
}
.about-hero .about-hero-text {
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero .about-price-text {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin-bottom: 0;
}

.about-hero2 {
  max-width: 980px;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: mySecondFont;
  font-weight: bold;
}
.about-hero2 .about-hero-text {
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero2 .about-price-text {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin-bottom: 0;
}

.about-hero3 {
  max-width: 980px;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: mySecondFont;
  font-weight: bold;
}
.about-hero3 .about-hero-text {
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero3 .about-price-text {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin-bottom: 0;
}

.about-hero4 {
  max-width: 980px;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-04.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: mySecondFont;
  font-weight: bold;
}
.about-hero4 .about-hero-text {
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero4 .about-price-text {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin-bottom: 0;
}

.about-hero5 {
  max-width: 980px;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-05.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: mySecondFont;
  font-weight: bold;
}
.about-hero5 .about-hero-text {
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero5 .about-price-text {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin-bottom: 0;
}

.about-hero6 {
  max-width: 980px;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-06.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: mySecondFont;
  font-weight: bold;
}
.about-hero6 .about-hero-text {
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero6 .about-price-text {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin-bottom: 0;
}

.about-hero7 {
  max-width: 980px;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-07.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: mySecondFont;
  font-weight: bold;
}
.about-hero7 .about-hero-text {
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero7 .about-price-text {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin-bottom: 0;
}

.about-hero8 {
  max-width: 980px;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-08.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: mySecondFont;
  font-weight: bold;
}
.about-hero8 .about-hero-text {
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero8 .about-price-text {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin-bottom: 0;
}

.about-hero9 {
  max-width: 980px;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-09.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: mySecondFont;
  font-weight: bold;
}
.about-hero9 .about-hero-text {
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero9 .about-price-text {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin-bottom: 0;
}

.days .day-header h1 {
  margin-bottom: 2px;
  font-family: mySecondFont, myThirdFont;
  font-size: 60px;
  font-style: bold;
}
.days .day-header p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10%;
}
.days .day-header .title-bottom {
  width: 171px;
  height: 2px;
  background-color: #000;
  margin-bottom: 3%;
}
.days .book-btn {
  background-color: #79addc;
  padding: 10px 15px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 133px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

@media all and (max-width: 800px) {
  .days {
    text-align: center;
    flex-direction: column;
  }
  .days .day-header .title-bottom {
    margin: 0 auto;
    margin-bottom: 3%;
  }
}
.banner {
  max-width: 1280px;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/IMG_4244.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -80px auto 0 auto;
  position: relative;
}
.banner .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.banner .hero-text h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: lighter;
  font-family: Proxima Nova ScOsf ExCn Rg, sans-serif;
}
.banner .hero-text button {
  background-color: #79addc;
  width: 121px;
  height: 40px;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}
.banner .hero-text p {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}

.form-content {
  width: 818px;
  min-height: 200px;
  margin: 0 auto;
}
.form-content .title {
  color: #000000;
  font-size: 60px;
  margin-bottom: 30px;
  font-weight: lighter;
  font-style: normal;
  font-family: Proxima Nova ScOsf ExCn Rg, sans-serif;
}
.form-content .top-boxes {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .top-boxes .long-box {
  width: 453px;
}
.form-content .top-boxes input {
  width: 344px;
  height: 58px;
  padding-left: 10px;
  border: 1px solid #79addc;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}
.form-content .middle-boxes {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}
.form-content .middle-boxes .holder {
  position: relative;
}
.form-content .middle-boxes .holder input {
  width: 344px;
  height: 58px;
  padding-left: 10px;
  border: 1px solid #79addc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: lighter;
}
.form-content .middle-boxes .holder .longer-box {
  width: 698px;
}
.form-content .middle-boxes .holder i {
  position: absolute;
  top: 20px;
  right: 10px;
}
.form-content .lower-boxes {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}
.form-content .lower-boxes .holder {
  position: relative;
}
.form-content .lower-boxes .holder input {
  width: 344px;
  height: 58px;
  padding-left: 10px;
  border: 1px solid #79addc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: lighter;
}
.form-content .lower-boxes .holder .smaller-box {
  width: 103px;
}
.form-content .lower-boxes .holder i {
  position: absolute;
  top: 20px;
  right: 10px;
}
.form-content .lower-boxes textarea {
  width: 344px;
  height: 58px;
  padding-left: 10px;
  border: 1px solid #79addc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: lighter;
}
.form-content .lower-boxes .big-box {
  width: 818px;
  height: 192px;
  padding-top: 10px;
}
.form-content .submit-button {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.form-content .submit-button .btn {
  position: absolute;
  margin-top: 5%;
  margin-bottom: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #79addc;
  width: 813px;
  height: 60px;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: 15px;
}

@media all and (max-width: 800px) {
  .form-content .top-boxes input {
    width: 300px;
    flex-direction: column;
    margin-bottom: 5%;
  }
  .form-content .middle-boxes input {
    width: 300px;
    flex-direction: column;
    margin-bottom: 5%;
  }
  .form-content .lower-boxes input {
    width: 300px;
    flex-direction: column;
    margin-bottom: 5%;
  }
  .form-content .submit-button {
    width: 300px;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 5%;
  }
}
.offers {
  width: 818px;
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  position: relative;
  margin-bottom: 50px;
  justify-content: space-between;
}
.offers .offer .hero-image {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -80px auto 0 auto;
  position: relative;
}
.offers .offer .hero-image .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.offers .offer .hero-image .hero-text h1 {
  color: #ffffff;
  font-size: 60px;
  font-family: Proxima Nova ScOsf ExCn Rg, sans-serif;
  font-weight: lighter;
}
.offers .offer .hero-image .hero-text button {
  background-color: #79addc;
  width: 121px;
  height: 40px;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  border-radius: 50px;
}
.offers .offer .hero-image .hero-text h2 {
  font-size: 30px;
  font-weight: lighter;
  font-family: Proxima Nova ScOsf ExCn Rg, sans-serif;
}

@media screen and (max-width: 800px) {
  .offers {
    width: 250px;
    flex-direction: column;
    min-height: 940px;
  }
}
.tours {
  margin-top: 5%;
}
.tours .tour-home {
  max-width: 980px;
  min-width: 236px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}
.tours .tour-home .tour {
  height: 304px;
  width: 235px;
  background-color: #faebd7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/tour-01.jpg);
  text-align: center;
}
.tours .tour-home .tour .promo-text {
  font-family: mySecondFont;
  margin-bottom: 30px;
  color: #ffffff;
}
.tours .tour-home .tour .promo-text h1 {
  font-size: 60px;
}
.tours .tour-home .tour .promo-text h2 {
  font-size: 30px;
}
.tours .tour-home .tour .read-btn {
  background-color: #79addc;
  padding: 10px 15px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.tours .tour-home #tour2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/tour-02.jpg);
}
.tours .tour-home #tour3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/tour-03.jpg);
}
.tours .tour-home #tour4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/tour-04.jpg);
}
.tours .tour-home #tour5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/tour-05.jpg);
}
.tours .tour-home #tour6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/tour-06.jpg);
}
.tours .tour-home #tour7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/tour-07.jpg);
  margin-bottom: 10%;
}
.tours .tour-home #tour8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/tour-08.jpg);
  margin-bottom: 10%;
}
.tours .tour-home #tour9 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/tour-09.jpg);
  margin-bottom: 10%;
}

.tour-hero {
  max-width: 980px;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tours-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.tour-hero .about-hero-text {
  position: absolute;
  font-family: mySecondFont;
  font-size: 60px;
  font-weight: bold;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=styles.css.map */
