$center: 0 auto;

// site dimensions
$content-width: 980px;
$nav-footer-height: 100px;

$footer-height: 100px;
$site-width: 980px;
$banner-footer-width: 1280px;
$banner-height: 500px;
$home-form-width: 818px;
$nav-height: 100px;

// this is for site colors
$site-background: #79addc;
$site-blue: #79addc;
$site-white: #ffffff;
$site-black: #000000;

// this area is for buttons
