.about-promo {
  max-width: $content-width;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;

  .promo {
    @include promo();
    background-image: url(/images/tour-israel/israel-tour-01.jpg);

    .promo-text {
      font-size: 24px;
      font-family: mySecondFont;
      margin-bottom: 60px;
    }

    .read-btn {
      @include site-button();
    }
  }

  #promo2 {
    background-image: url(/images/tour-israel/israel-tour-02.jpg);
  }

  #promo3 {
    background-image: url(/images/tour-israel/israel-tour-03.jpg);
  }
}

.about-promo2 {
  max-width: $content-width;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;

  .promo {
    @include promo();
    background-image: url(/images/tour-usa/usa-tour-01.jpg);

    .promo-text {
      font-size: 24px;
      font-family: mySecondFont;
      margin-bottom: 60px;
    }

    .read-btn {
      @include site-button();
    }
  }

  #promo2 {
    background-image: url(/images/tour-usa/usa-tour-02.jpg);
  }

  #promo3 {
    background-image: url(/images/tour-usa/usa-tour-03.jpg);
  }
}

.about-promo3 {
  max-width: $content-width;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;

  .promo {
    @include promo();
    background-image: url(/images/tour-aus/aus-tour-01.jpg);

    .promo-text {
      font-size: 24px;
      font-family: mySecondFont;
      margin-bottom: 60px;
    }

    .read-btn {
      @include site-button();
    }
  }

  #promo2 {
    background-image: url(/images/tour-aus/aus-tour-02.jpg);
  }

  #promo3 {
    background-image: url(/images/tour-aus/aus-tour-03.jpg);
  }
}

.about-promo4 {
  max-width: $content-width;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;

  .promo {
    @include promo();
    background-image: url(/images/tour-nz/nz-tour-01.jpg);

    .promo-text {
      font-size: 24px;
      font-family: mySecondFont;
      margin-bottom: 60px;
    }

    .read-btn {
      @include site-button();
    }
  }

  #promo2 {
    background-image: url(/images/tour-nz/nz-tour-02.jpg);
  }

  #promo3 {
    background-image: url(/images/tour-nz/nz-tour-03.jpg);
  }
}

.about-promo5 {
  max-width: $content-width;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;

  .promo {
    @include promo();
    background-image: url(/images/tour-france/france-tour-01.jpg);

    .promo-text {
      font-size: 24px;
      font-family: mySecondFont;
      margin-bottom: 60px;
    }

    .read-btn {
      @include site-button();
    }
  }

  #promo2 {
    background-image: url(/images/tour-france/france-tour-02.jpg);
  }

  #promo3 {
    background-image: url(/images/tour-france/france-tour-03.jpg);
  }
}

.about-promo6 {
  max-width: $content-width;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;

  .promo {
    @include promo();
    background-image: url(/images/tour-egypt/egypt-tour-01.jpg);

    .promo-text {
      font-size: 24px;
      font-family: mySecondFont;
      margin-bottom: 60px;
    }

    .read-btn {
      @include site-button();
    }
  }

  #promo2 {
    background-image: url(/images/tour-egypt/egypt-tour-02.jpg);
  }

  #promo3 {
    background-image: url(/images/tour-egypt/egypt-tour-03.jpg);
  }
}

.about-promo7 {
  max-width: $content-width;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;

  .promo {
    @include promo();
    background-image: url(/images/tour-japan/japan-tour-01.jpg);

    .promo-text {
      font-size: 24px;
      font-family: mySecondFont;
      margin-bottom: 60px;
    }

    .read-btn {
      @include site-button();
    }
  }

  #promo2 {
    background-image: url(/images/tour-japan/japan-tour-02.jpg);
  }

  #promo3 {
    background-image: url(/images/tour-japan/japan-tour-03.jpg);
  }
}

.about-promo8 {
  max-width: $content-width;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;

  .promo {
    @include promo();
    background-image: url(/images/tour-canada/canada-tour-01.jpg);

    .promo-text {
      font-size: 24px;
      font-family: mySecondFont;
      margin-bottom: 60px;
    }

    .read-btn {
      @include site-button();
    }
  }

  #promo2 {
    background-image: url(/images/tour-canada/canada-tour-02.jpg);
  }

  #promo3 {
    background-image: url(/images/tour-canada/canada-tour-03.jpg);
  }
}

.about-promo9 {
  max-width: $content-width;
  min-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;

  .promo {
    @include promo();
    background-image: url(/images/tour-uae/uae-tour-01.jpg);

    .promo-text {
      font-size: 24px;
      font-family: mySecondFont;
      margin-bottom: 60px;
    }

    .read-btn {
      @include site-button();
    }
  }

  #promo2 {
    background-image: url(/images/tour-uae/uae-tour-02.jpg);
  }

  #promo3 {
    background-image: url(/images/tour-uae/uae-tour-03.jpg);
  }
}
